.carrossel {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.imagens {
    width: 100%;
    height: 90vh;
}

.imagens img {
    height: 900px;
}

.slide {
    display: none;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.slide.ativo {
    display: block;
}

.anterior,
.proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background: rgba(0, 0, 0, 0.6);
    color: white;

    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;

    z-index: 10;
}

.anterior {
    left: 10px;
}

.proximo {
    right: 10px;
}

.anterior:hover,
.proximo:hover {
    background: black;
}